@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<div class="jumbotron">
    <h1>Welcome to our burger app!</h1>
    @if (Model.BurgersOnPromotion.Any())
    {
        <h3>Today on promotion:</h3>
        <div class="row">
            @foreach (var burger in Model.BurgersOnPromotion)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="center-image">
                                <img class="card-img-top" src="@burger.ImageUrl" alt="Card image cap">
                            </div>
                            <h5 class="card-title">@burger.Name</h5>
                            <P class="card-title">
                                @if (@burger.IsOnPromotion)
                                {
                                    <h6 class="text-success">ON PROMOTION</h6>
                                }
                                else
                                {
                                    <h6 class="text-danger">NOT ON PROMOTION</h6>
                                }
                            </P>
                            <p class="card-text">Price: $@burger.Price</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h3>No burger on promotion today.</h3>
    }

</div>